.aboutMe{
  display: grid;
  grid-template-columns: 60% 35%;
  gap: 5%;

  min-height: 250px;
  height: 30vh;
  max-height: 300px;

}

.aboutText{
  margin-bottom: 1rem;
}

.aboutImg{
  background-color: var(--bg);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
  
}
.meImg{
  object-fit: cover;
  width: 100%;
  border-radius: 666px;
}

@media screen and (max-width: 600px) {
  .aboutMe {
    grid-template-columns: 1fr;
    gap: 0;
    height: auto;
    max-height: none;
  }
}